<h6 mat-dialog-title>Enter your email address to continue</h6>
<form
  [formGroup]="formPassword"
  (submit)="submitPasswordRequest()"
  class="form-body"
>
  <div class="form-group">
    <b><label for="email" class="control-label mt-1">Email</label></b>
    <input
      formControlName="email"
      type="text"
      class="form-control mb-3"
      [ngClass]="{
        'is-invalid': emailSubmitted && p.email.errors
      }"
    />
    <div *ngIf="emailSubmitted && p.email.errors" class="invalid-feedback">
      <div *ngIf="p.email.errors.required">Email is required</div>
      <div *ngIf="p.email.errors.email">Email must be a valid format</div>
    </div>
    <button
      class="btn btn-primary m-2"
      [disabled]="formPassword.invalid && formPassword.pristine"
    >
      Submit
    </button>
    <button
    (click)="cancel()"
    class="btn btn-warning m-2">Cancel</button>
  </div>
</form>
