<form *ngIf="this.auth.loginStatus" class="d-inline m-2" (submit)="submit()" [formGroup]="form">
	<div class="form-group">
		<input
			class="form-control"
			formControlName="comment"
			placeholder="Write your comment..."
			type="text"
			name="comment"
			[ngClass]="{ 'is-invalid': submitted && form.controls['comment'].errors }"
		/>
		<div
			*ngIf="submitted && form.controls['comment'].invalid"
			class="invalid-feedback"
		>
			<div *ngIf="form.controls['comment'].errors?.required">
				A comment is required
			</div>
			<div *ngIf="form.controls['comment'].errors?.minlength">
				Your comment should be more than 1 character
			</div>
			<div *ngIf="form.controls['comment'].errors?.maxlength">
				Your comment should be less than than 255 characters
			</div>
		</div>
	</div>

	<input
		class="form-control"
		type="input"
		formControlName="post_id"
		[hidden]="true"
		name="post_id"
	/>

	<input
		class="form-control"
		type="input"
		[hidden]="true"
		formControlName="parent_id"
		name="parent_id"
	/>
	<div class="row justify-content-center">
		<button
			[disabled]="!auth.loginStatus"
			class="btn btn-primary btn-sm"
			type="submit"
		>
			Post Message
		</button>
	</div>
</form>
