.form-content .form-items {
    border: 3px solid black;
    padding: 40px;
    display: inline-block;
    margin: auto;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

input {
  margin-bottom: 10px;
}

.checkboxlabel {
  border-radius: 40px;
    background-color:green;
    width: 40px;
    height: 20px;
}

#checkboxes input,
#checkboxes p {
  display: inline-block;
}

#checkboxes input[type=checkbox]{
    display: none;
}

#checkboxes input[type=checkbox]:checked + .checkboxlabel{
    background-color: red;
}
