<div class="container">
	<div *ngIf="inbox.length > 0; else empty">
		<div *ngFor="let message of inbox">
			<ol class="list-group">
				<li
					class="list-group-item d-flex justify-content-between align-items-start"
				>
					<div class="ms-2 me-auto">
						<div class="fw-bold">
							<div class="d-flex">
								<h6>
									<span class="headers">Received:</span>
									{{ message.created_at | date }}
								</h6>
								<h6 class="mx-5">
									<span class="headers">Created by:</span>
									{{ message.creator[0].username }}
								</h6>
							</div>
							<span class="d-flex my-3">
								<h4 class="headers">Subject:</h4>
								<a>
									<h4 class="mx-2">{{ message.subject }}</h4>
								</a>
							</span>
						</div>
						<h6>
							<span class="headers">Participants:</span>
							{{ message.creator[0].username }}, {{
							message.user_two[0].username }}
						</h6>
					</div>
					<div class="col-md-1 col-sm-12 p-1 me-3">
						<button
							[routerLink]="[
                '/profile',
                'messages',
                'conversation',
                message.id
              ]"
							class="btn my-1 btn-sm btn-dark"
						>
							Read
						</button>
						<button
							(click)="deleteMessage(message.id)"
							class="btn my-1 btn-sm btn-danger"
						>
							Delete
						</button>
					</div>
				</li>
			</ol>
		</div>
	</div>
	<ng-template #empty>
		<div class="text-center">
			<h5>No conversations to show</h5>
			<p>Create a conversation by visiting another users profile</p>
		</div>
	</ng-template>
</div>
