<div class="container">
	<div *ngIf="undefined !== inbox && inbox.length > 0; else empty">
		<div *ngFor="let message of inbox">
			<ol class="list-group">
				<li class="list-group-item d-flex">
					<div class="ms-2 me-auto">
						<div>
							<div class="my-2">
								<span class="headers">Received:</span>
								<span class="info"
									>{{ message.created_at | date }}</span
								>
								<span class="headers hide-sm">Created by:</span>
								<span class="info hide-sm">
									{{ message.creator[0].username }}
								</span>
								<div
									class="d-flex"
									*ngIf="message.messages.length > 0"
								>
									<span class="material-icons icon-red">
										priority_high
									</span>
									<span class="unread">Unread Messages</span>
								</div>
							</div>
							<div class="my-2">
								<span class="headers">Subject:</span>
								<span class="info">
									{{ message.subject }}
								</span>
							</div>
						</div>
						<span class="headers">Participants:</span>
						<span class="info">
							{{ message.creator[0].username }}, {{
							message.user_two[0].username }}
						</span>
					</div>
					<div class="d-flex buttons">
						<button
							[routerLink]="[
                '/profile',
                'messages',
                'conversation',
                message.id
              ]"
							class="btn my-1 btn-read btn-sm btn-dark"
						>
							Read
						</button>
						<button
							(click)="deleteMessage(message.id)"
							class="btn my-1 btn-sm btn-danger"
						>
							Delete
						</button>
					</div>
				</li>
			</ol>
		</div>
	</div>
	<ng-template #empty>
		<div class="text-center">
			<h5>No conversations to show</h5>
			<p>Create a conversation by visiting another users profile</p>
		</div>
	</ng-template>
</div>
