.stats {
	background-color: white;
	max-width: 100%;
}

.card-body {
	border: 0px;
	background-color: lightblue;
	text-align: center;
	display: inline-flex;
	justify-content: center;
}

.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-24 {
	font-size: 24px;
}
.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-48 {
	font-size: 48px;
}

@mixin md-icon-size($size: 24px) {
	font-size: $size;
	height: $size;
	width: $size;
	line-height: $size;
}

.mat-icon {
	transform: scale(2);
  animation: bounce 1.5s 4 alternate;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  -webkit-animation: bounce 1.5s 3 alternate;

  @keyframes bounce {
    from {
      transform: translateY(18px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(18px);
    }
    to {
      transform: translateY(-15px);
    }
  }
}
