<div class="container">
	<div class="row">
		<div
			class="col-md-12 col-lg-8"
			*ngFor="let featured of featuredPosts.slice(0, 1)"
		>
			<h2 class="text-center p-2">
				<span class="material-icons"> star_rate </span>Featured Article
			</h2>
			<div class="card p-3 m-2">
				<div class="card-body">
					<h5 class="card-title">{{ featured.title }}</h5>
					<p class="card-text">{{ featured.summary }}</p>
					<p class="card-text">
						<small class="text-muted"></small>
					</p>
				</div>
				<div class="text-center">
					<i
						[routerLink]="['/posts', featured.id]"
						class="icon material-icons"
						>read_more</i
					>
				</div>
				<img
					src="{{ featured.image_url }}"
					class="card-img-bottom"
					alt="..."
				/>
			</div>
		</div>
		<div class="col-md-12 col-lg-4">
			<h3 class="text-center p-3">
				<span class="material-icons"> hotel_class </span>Worthy Mentions
			</h3>
			<div
				class="card mb-3 mx-auto"
				*ngFor="let featured of featuredPosts.slice(1, 3)"
				style="max-width: 540px"
			>
				<div class="row g-0">
					<div class="col-md-4">
						<img
							src="{{ featured.image_url }}"
							class="img-fluid rounded-start"
							alt="..."
						/>
					</div>
					<div class="col-md-8 text-center">
						<div class="card-body">
							<h6 class="card-title">{{ featured.title }}</h6>
							<p class="card-text">
								{{ featured.summary.slice(0, 75) }}
							</p>
							<div class="text-center">
								<i
									[routerLink]="['/posts', featured.id]"
									class="icon material-icons"
									>read_more</i
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	infinite-scroll
	[infiniteScrollDistance]="distance"
	[infiniteScrollThrottle]="throttle"
	(scrolled)="onScroll()"
>
	<app-posts-header-container [title]="title"></app-posts-header-container>
	<app-posts-container
		(votedEvent)="voted($event)"
		[posts]="posts"
	></app-posts-container>
</div>
