.headers {
  color: #0275d8;
  margin-right: 0.8rem;
  font-weight: 600;
  @media only screen and (max-width: 950px) {
    font-size: 80%;
    font-weight: 500;
    margin: auto;
	}
}

.info {
  @media only screen and (max-width: 950px) {
    font-size: 80%;
    font-weight: 500;
    margin: auto;
	}
}

.seen {
  @media only screen and (max-width: 520px) {
    display: none;
    margin: 0 auto;
    margin: 3px;
	}
}
