<h4>Terms of use</h4>
<p>
	The following User Agreement governs the use of newsboiler.com, and all
	linked pages. ("Service Provider,", "we", or "our"). If you cannot agree
	with these rules, please do not use the Website. The Agreement may be
	modified from time to time. Continued access of the Website by you will
	constitute your acceptance of any changes or revisions to the Agreement.
	Your failure to follow these rules may result in suspension or termination
	of your access to the Website, without notice.
</p>
<h4>Registering and Creating an Account</h4>
<p>
	<b>1.</b> Registration Information Service Provider may at times require
	that you register and/or set up an account to use certain portions of
	Retromize. In order to do so you are required to register with Retromize and
	select a password and username. You agree and represent that all
	Registration Information provided by you is accurate and up-to-date. If any
	of your Registration Information changes, you must update it by using the
	appropriate update mechanism on the Website. The Website is not intended for
	users under the age of 13, and Website Provider does not knowingly collect
	personally identifiable information from users under the age of 13. Such
	users are expressly prohibited from submitting their personally identifiable
	information to us, and from using our forums and chat areas; any information
	submitted by such users will not knowingly be used, posted, or retained by
	us.
</p>
<h4>Username & Passwords</h4>
<p>
	<b>1.</b> If you register and/or set up an account on the Website, you will
	be solely responsible for maintaining the confidentiality of your
	Registration Information. You may not authorize others to use your
	Registration Information. You are solely responsible for all usage or
	activity on your account. If you have reason to believe that your account is
	no longer secure you must promptly change the affected Registration
	Information by using the appropriate update mechanism on the Website.
	<br />
	Service Provider may at times require that you register and/or set up an
	account to use certain portions of Retromize. In order to do so you are
	required to register with Retromize and select a password and username. You
	agree and represent that all Registration Information provided by you is
	accurate and up-to-date. If any of your Registration Information changes,
	you must update it by using the appropriate update mechanism on the Website.
	The Website is not intended for users under the age of 13 as detailed in
	"Registering and Creating an Account, point 1."
</p>
<h4>Useage Rules</h4>
<p>
	<b>1.</b> As a condition of use, you promise not to use the Services for any
	purpose that is unlawful or prohibited by these Terms of Use, or any other
	purpose not reasonably intended by Retromize. By way of example, and not as
	a limitation, you agree not to use the Services: to abuse, harass, threaten,
	impersonate or intimidate other NewsBoiler users; to contribute any Content
	that is infringing, libelous, defamatory, obscene, pornographic, abusive,
	offensive or otherwise violates any law or right of any third party; for any
	illegal or unauthorized purpose. If you are an international user, you agree
	to comply with all local laws regarding online conduct and acceptable
	content; to post or transmit, or cause to be posted or transmitted, any
	communication or solicitation designed or intended to obtain password,
	account, or private information from any Retromize user; to create or submit
	unwanted email ("Spam") to any other Retromize users or any URL; to violate
	any laws in your jurisdiction (including but not limited to copyright laws);
	with the intention of artificially inflating or altering your NewsBoiler
	score, including by way of creating separate user accounts for the purpose
	of artificially altering Retromize's services; giving or receiving money or
	other remuneration in exchange for votes; or participating in any other
	organized effort that in any way artificially alters the results of
	Retromize's services.
</p>
<br />
<b class="d-inline">2.</b>
<h6 class="d-inline mx-2">
	Comments By Others Are Not Endorsed By Service Provider
</h6>
<p>
	Service Provider does not necessarily endorse, support, sanction, encourage,
	verify, or agree with the comments, opinions, or statements posted on
	forums, blogs or otherwise contained in the Website. Any information or
	material placed online, including advice and opinions, are the views and
	responsibility of those who post the statements and do not necessarily
	represent the views of Service Provider or its third party service
	providers. You agree that Service Provider and its third party service
	providers are not responsible, and shall have no liability to you, with
	respect to any information or materials posted by others, including
	defamatory, offensive or illicit material, even material that violates this
	Agreement.
</p>
<br />
<b class="d-inline">3.</b>
<h6 class="d-inline mx-2">Use Of Material Supplied By You</h6>
<p>
	You agree that by posting messages, uploading files, inputting data, or
	engaging in any other form of communication with or through the Website, you
	grant us a royalty-free, perpetual, non-exclusive, unrestricted, worldwide
	license to use, reproduce, modify, adapt, translate, enhance, transmit,
	distribute, publicly perform, display, or sublicense any such communication
	in any medium (now in existence or hereinafter developed) and for any
	purpose, including commercial purposes, and to authorize others to do so.
</p>
<br />
<b class="d-inline">4.</b>
<h6 class="d-inline mx-2">Copyright Complaints</h6>
<p>
	Service Provider respects the intellectual property of others, and we ask
	our users to do the same. Service Provider may, in appropriate circumstances
	and at its discretion, suspend or terminate the access of and take other
	action against users, subscribers, registrants and account holders who
	infringe the copyright rights of others. If you believe that your work has
	been copied and is accessible on the Website in a way that constitutes
	copyright infringement, or that the Website contains links or other
	references to another online location that contains material or activity
	that infringes your copyright rights, you may notify Service Provider by
	providing the following information (as required by the Online Copyright
	Infringement Liability Limitation Act of the Digital Millennium Copyright
	Act, 17 U.S.C. sec. 512) to Retromize at
	<br />
</p>

<p>
	<li>
		A physical or electronic signature of person authorized to act on behalf
		of the owner of an exclusive right that is allegedly infringed;
	</li>
</p>
<br />
<p>
	<li>
		Identification of the copyrighted work claimed to have been infringed,
		or if multiple copyrighted works at a single online site are covered by
		a single notification, a representative list of such works at that site;
	</li>
</p>
<br />
<p>
	<li>
		Identification of the material that is claimed to be infringing or to be
		the subject of infringing activity and that is to be removed or access
		to which is to be disabled, and information reasonably sufficient to
		permit Service Provider to locate the material;
	</li>
</p>
<br />
<p>
	<li>
		Information reasonably sufficient to permit Service Provider to contact
		the complaining party, such as an address, telephone number, and if
		available, an electronic mail address at which the complaining party may
		be contacted;
	</li>
</p>
<br />
<p>
	<li>
		A statement that the complaining party has a good faith belief that use
		of the material in the manner complained of is not authorized by the
		copyright owner, its agent, or the law; and A statement that the
		information in the notification is accurate, and under penalty of
		perjury, that the complaining party is authorized to act on behalf of
		the owner of an exclusive right that is allegedly infringed
	</li>
</p>
<br />
<b class="d-inline">5.</b>
<h6 class="d-inline mx-2">Sale of goods on or through the website</h6>
<p>
	Neither Service Provider nor its third party service providers make any
	warranties with respect to any of the merchandise, products, and/or services
	featured, mentioned, or sold by others on or through the Website.
	Transactions for any such item shall be between the user and the third party
	seller, without any involvement of Service Provider or its third party
	service providers. You agree that Service Provider and its third party
	service providers are not responsible, and shall have no liability to you,
	with respect to merchandise, products, and/or services featured, mentioned,
	or sold by others on or through the Website, including illegal, offensive or
	illicit items, even items that violates this Agreement.
</p>
<br />
<b class="d-inline">6.</b>
<h6 class="d-inline mx-2">Indemnification</h6>
<p>
	You agree to indemnify Service Provider and its affiliates, employees,
	agents, representatives and third party service providers, and to defend and
	hold each of them harmless, from any and all claims and liabilities
	(including attorneys fees) which may arise from your submissions, from your
	unauthorized use of material obtained through the Website, or from your
	breach of this Agreement, or from any such acts through your use of the
	Website.
</p>
<br />
<b class="d-inline">6.</b>
<h6 class="d-inline mx-2">Editing And Deletions</h6>
<p>
	Retromize reserves the right, but undertakes no duty, to review, edit, move
	or delete any material provided for display or placed on the Website or its
	bulletin boards, in its sole discretion, without notice.
</p>
<br />
<b class="d-inline">7.</b>
<h6 class="d-inline mx-2">Additional Rules</h6>
<p>
	Retromize reserves the right to post, from time to time, additional rules of
	usage that apply to specific parts of the Website. Such additional rules
	will be posted in the relevant parts of the Website. Your continued use of
	the Website constitutes your agreement to comply with these additional
	rules.
</p>
<br />
<b class="d-inline">8.</b>
<h6 class="d-inline mx-2">
	Disclaimer Of Warranty And Limitation Of Liability
</h6>
<p>
	You acknowledge that you are using the website at your own risk. the website
	is provided "as is", and Retromize, its affiliates and its third party
	service providers hereby expressly disclaim any and all warranties, express
	and implied, including but not limited to any warranties of accuracy,
	reliability, title, merchantability, non-infringement, fitness for a
	particular purpose or any other warranty, condition, guarantee or
	representation, whether oral, in writing or in electronic form, including
	but not limited to the accuracy or completeness of any information contained
	therein or provided by the website. service provider, its affiliates, and
	its third party service providers do not represent or warrant that access to
	the website will be uninterrupted or that there will be no failures, errors
	or omissions or loss of transmitted information, or that no viruses will be
	transmitted on the website.
</p>
<p>
	Retromize, its affiliates and its third party service providers shall not be
	liable to you or any third parties for any direct, indirect, special,
	consequential or punitive damages allegedly sustained arising out of this
	agreement, the providing of the website hereunder, the sale or purchase of
	any goods or merchandise, your access to or inability to access the website,
	including for viruses alleged to have been obtained from the website, your
	use of or reliance on the website or any of the merchandise, information or
	materials available on the website, regardless of the type of claim or the
	nature of the cause of action, even if advised of the possibility of such
	damages. some states do not allow the exclusion of implied warranties or the
	limitation or exclusion of liability for incidental or consequential
	damages, so the above exclusions or limitations may not apply to you. you
	may also have other rights that vary from state to state.
</p>
<p>
	YOU HEREBY AGREE TO RELEASE Service Provider, ITS AFFILIATES AND THIRD-PARTY
	SERVICE PROVIDERS, AND EACH OF THEIR RESPECTIVE DIRECTORS, OFFICERS,
	EMPLOYEES, AND AGENTS FROM CLAIMS, DEMANDS AND DAMAGES (ACTUAL AND
	CONSEQUENTIAL) OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, SUSPECTED AND
	UNSUSPECTED, DISCLOSED AND UNDISCLOSED ("CLAIMS"), ARISING OUT OF OR IN ANY
	WAY CONNECTED WITH YOUR USE OF THIS SITE.
</p>
<br />
<b class="d-inline">8.</b>
<h6 class="d-inline mx-2">
	Termination Or Suspension Of Access To The Website
</h6>
<p>
	Retromize has the right to terminate and/or suspend your ability to access
	the Website or any portion thereof, for any or no reason, without notice.
</p>
