.badges-container {
	display: inline-flex;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #bdb0b0 100%);
	min-height: 200px;
	min-width: 100%;
}

.badges-container img {
	display: flex;
	margin: 10px;
	height: 75px;
	width: 75px;
}
