<h4 class="text-center mt-4">Awarded Accolades</h4>
<div class="badges-container mb-2 col-md-12 rounded">
	<div *ngIf="accolades.length > 0; else empty">
		<div *ngFor="let accolade of accolades">
			<img
				src="../../assets/angular/assets/img/{{ accolade.badge }}"
				alt="{{ accolade.name }}, Accolade"
				matTooltip="{{ accolade.description }}"
			/>
		</div>
	</div>
</div>
<ng-template #empty>
	<div class="text-center mx-auto my-auto">
		<h5>No accolades awarded</h5>
	</div>
</ng-template>
