#profileContainer h6,
#profileContainer p {
	display: inline-flex;
	margin-right: 6px;
	margin-left: 20px;
}

#profileContainer {
	display: flex;
	justify-content: space-between;
}

.account-services {
	background-color: white;
	min-width: 90%;
}

.image-container {
  max-height: 22rem;
  overflow: hidden;
}

img {
  height: 100%;
  width: auto;
}

.account button,
h6 {
	display: inline-flex;
	align-items: center;
}

.account {
	display: flex;
	justify-content: space-between;
}

.message-user {
  animation: blinker 3s linear infinite;
  color: blue;
  font-size: 20px;
	font-weight: 500;
	margin-top: 20px;
	cursor: pointer;

  @keyframes blinker {
    50% {
      opacity: 0.2;
    }
  }
	&:hover {
    animation: blinkerFast 0.5s linear infinite;
		border-radius: 5px;
	}
  @keyframes blinkerFast {
    50% {
      opacity: 0.2;
    }
  }
}

@media (min-width: 1399.98px) {
	.profile-container h6,
	p {
		font-size: 1.4rem;
	}
}

@media (max-width: 1199.98px) {
}
