<h6 class="text-center" mat-dialog-title>Create Message</h6>
<form [formGroup]="form" class="form-body">
  <div class="form-group">
    <b><label for="username" class="control-label mt-3">Subject</label></b>
    <input
      formControlName="subject"
      type="text"
      class="form-control"
      [ngClass]="{
        'is-invalid': submitted && f.subject.errors
      }"
    />
    <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
      <div *ngIf="f.subject.errors.required">A subject is required</div>
      <div *ngIf="f.subject.errors.maxlength">
        Subject should be no more than 50 characters
      </div>
      <div *ngIf="f.subject.errors.minlength">
        Subject should be more than 2 characters
      </div>
    </div>
    <div class form-group>
      <b><label for="message" class="control-label">Message</label></b>
      <textarea
        formControlName="message"
        type="textarea"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && f.message.errors
        }"
      ></textarea>
      <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
        <div *ngIf="f.message.errors.required">A message is required</div>
        <div *ngIf="f.message.errors.maxlength">
          Your message should be less than 400 characters!
        </div>
        <div *ngIf="f.message.errors.minlength">
          Your message should be more than 2 characters!
        </div>
      </div>
    </div>
  </div>
  <button (click)="submit()" class="btn btn-primary btn-block m-1">Send</button>
  <button (click)="cancel()" class="btn btn-warning btn-block m-1">
    Cancel
  </button>
</form>
