<div class="container p-4">
	<div class="row">
		<div class="col-md-8">
			<router-outlet></router-outlet>
		</div>
		<div class="col-md-4 links text-center">
			<div class="website p-1">
				<h4 class="m-1">Website</h4>
				<a [routerLink]="['/site/about']">About</a>
				<a [routerLink]="['/site/terms']">Terms</a>
				<a [routerLink]="['/site/privacy']">Privacy Policy</a>
			</div>
			<div class="help mt-4">
				<h4>Help</h4>
				<a [routerLink]="['/site/faq']">FAQ's</a>
				<a [routerLink]="['/site/guidelines']">Guidelines</a>
			</div>
			<div class="contact mt-4">
				<h4>Contact us</h4>
				<a [routerLink]="['/site/contact']">Contact</a>
				<a [routerLink]="['/advertise']">Advertise</a>
			</div>
		</div>
	</div>
</div>
