.links {
  border-left: 1px solid rgb(76, 106, 187);
  height: 500px;
  top: 0;
}

.links a {
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.container {
  background-color: #e7e7e7;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}


