<h4>The End is The Start - Retromize</h4>
<div class="start">
  <p>and Retromize was BORN!</p>
  <p>
    No, it wasn't that quick. Retromize was first created by Tom Thornton during
    a time when he was looking for a new career. Retromize was to be his most
    ambitious project yet. The time it took demonstrated this and despite being
    out of work and needing the project complete to get employed, he persevered.
  </p>
</div>
<div class="middle">
  <p>
    The site you see today is built from those foundations and has evolved over
    time. Retromize has now become a fast growing and upcoming gaming news
    network with a passionate community, who share their articles while
    discussing their favorite news and games!
  </p>
</div>
<div class="end">
  <p>
    You are free to browse at your own leisure while on the site but the real
    fun starts when you sign up. You'll get a dedicated profile, accolades based
    on your contributions but most importantly, you'll be part of a community
    who share your interests. This was the vision from the original creator and
    while this maybe the end of this about us, it can be the start of your
    adventure by signing up
    <a [routerLink]="['/register']"
      ><button class="btn btn-sm btn-primary">Here</button></a
    >
  </p>
</div>
